/* body */
body {
	color: white;
	background: black;
}
/* header */
body > header {
	background-color: black;
	background-image: url("../img/pexels-photo-30342-large.jpg");
	background-size: cover;
	background-position: center;
}
body > header > h1 {
	background: rgba(255, 255, 255, .3);
	border: rgba(255, 255, 255, .2) solid 1px;
}
body > header > p {
	color: white;
	font-weight: 500;
	text-transform: lowercase;
	text-shadow: 0 0 4px rgba(0, 0, 0, .6);
}
/* nav */
body > nav {
	color: rgba(255, 255, 255, 0.8);
	background: rgba(0, 0, 0, .4);
	border-bottom: rgba(0, 0, 0, .2) solid 1px;
}
body > nav li a,
body > nav li a:visited,
body > nav li {
	color: inherit;
	font-weight: 500;
	text-transform: lowercase;
	border: solid 2px transparent;
}
body > nav li a:hover {
	color: white;
	border-color: white;
}
body > nav li a:active {
	color: black;
	background-color: white;
}