/* header */
body > header {
	position: relative;
	margin: 0 auto;
	width: auto;
	height: 40vh;
	text-align: center;
}
body > header > h1 {
	position: absolute;
	top: 10vh;
	left: 15%;
	width: 60%;
	margin: 0 auto;
}
body > header > h1 > a {
	margin: 0 auto;
	max-width: 10em;
}
body > header > h1 > a > img {
	width: auto;
	max-height: 10vh;
}
body > header > p {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 1em;
}
/* .home header */
.home > body > header {
	min-height: 100vh;
}
.home > body > header > h1 {
	top: 20vh;
}
.home > body > header > h1 > a > img {
	width: 100%;
	height: auto;
	max-height: none;
}
/* nav */
body > nav {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
}
body > nav > ul {
	text-align: right;
	margin: 1em 1em;
}
body > nav > ul > li {
	display: inline;
}
body > nav li > a {
	padding: 0.5em;
}
/* main */
body > main {
	margin: 0 0;
}
body > main > article > * {
	max-width: 34em;
	margin-left: auto;
	margin-right: auto;
}
body > main > article {
	padding: 2em;
}
body > main > article > header > h1 {
	text-align: center;
}
body > main > article > header > p {
	display: none;
}
/* old */
body > main > article > .self-link,
body > footer > main > article > .self-link {
	padding: 0;
}
body > main > article > .self-link > a > span,
body > footer > main > article > .self-link > a > span {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	background-image: url('transparent.gif');
}
body > main > article > header,
body > footer > main > article > header,
body > main > article,
body > footer > main > article {
	position: relative;
}
